@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #ccd6f6;
    background-color: #0a192f;
    font-family: monospace;
    font-size: 16px;
}
.right {
    writing-mode: sideways-rl;
}
.logo {
    font-family: "Fuzzy Bubbles", cursive;
}

.reverse {
    flex-direction: row-reverse;
}
.lft {
    flex-direction: row;
}
